.termos {
  padding-top: 80px;
  padding-bottom: 80px;
}

.termos h2 {
  font-weight: 600;
}

.termos p {
  margin-bottom: 24px;
  max-width: 65ch;
}

.termos p + h2 {
  margin-top: 40px;
}
